.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  width: 1200px;
  border: 1px solid #4469b0;
  margin-top: 20px;
}

.header {
  padding: 20px;
  border-bottom: 8px solid #4469b0;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.information {
  width: 30%;
  padding: 10px;
  border-right: 1px solid #ccc;
  margin: 10px;
}

.supplier {
  margin-bottom: 20px;
}

.title {
  font-size: 16px;
  color: #4469b0;
}

.title-icon {
  padding-right: 6px;
}

.information-line {
  margin-left: 12px;
}

.bank-card {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.card-title {
  color: #333;
  padding: 10px;
}

.input-text {
  display: block;
  width: 90%;
  height: 44px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  outline-color: #4469b0;
}

.title-input {
  color: transparent;
  font-size: 14px;
  text-align: start;
}

.submit-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  height: 44px;
  min-width: 150px;
  border: 1px solid transparent;
}

.return-btn {
  border: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.next-btn {
  background-color: #4469b0;
  color: #fff;
  margin-left: 10px;

  &:hover {
    background-color: #5488e9;
  }
}
.pay {
  color: red;
}
.wrapper_pay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contain_pay {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
