.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--primary);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 1200px;
    width: 80%;
    height: var(--header-height);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    height: 100%;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.navbar-item {
    font-size: 16px;
    padding: 5px 15px 6px;
    height: 100%;
    line-height: var(--header-height);
    padding: 0 16px;
    color: #fff;

    position: relative;

    &:hover {
        background-color: #5179c1;
    }
}

.login {
    display: block;
    font-size: 16px;
    padding: 0 16px;
    color: #fff;
    height: 100%;
    line-height: var(--header-height);
    &:hover {
        background-color: #5179c1;
    }
}
.home {
    text-decoration: none;
}
