// .MuiDataGrid-root {
//     width: 80%;
// }

.custom-header {
    font-size: 16px; /* You can adjust the font size as per your requirement */
    font-weight: 700;
    color: rgb(248, 246, 246);

    /* Add any other styles you want to apply to the header */
}
// .custom-cell,
// .MuiDataGrid-columnHeaderTitle {
//     // color: red;
//     white-space: normal !important;
//     overflow-wrap: break-word !important;
//     height: auto !important;
//     max-height: none !important;
//     line-height: none !important;
// }

.custom-cell {
    // color: red;
    white-space: normal !important;
    overflow-wrap: break-word !important;
    height: auto !important;
    max-height: none !important;
    line-height: none !important;
}
// .MuiDataGrid-main {
//     background-color: red;
// }
.MuiDataGrid-columnHeaders {
    background-color: rgb(71, 65, 65);
    height: auto !important;
    margin-top: 5px;
    max-height: none;
    line-height: none;
}
.MuiDataGrid-root .MuiDataGrid-row:nth-of-type(odd) {
    background-color: rgb(212, 199, 199);
}
.Mui-hovered {
    opacity: 0.8;
}
// .MuiDataGrid-cell {
//     white-space: normal !important;
//     overflow-wrap: break-word;
//     height: auto !important;
// }
.title {
    display: flex;
    justify-content: space-between;
    padding: 0 18px;
}
.add {
    height: 40px;
}
.date {
    width: 100%;

    .MuiFormControl-root {
        width: 100%;
    }
}
.action {
    display: flex;
    justify-content: center;
}
