.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(#380036, #0cbaba);
}

.container {
    min-width: 60%;
    padding: 28px;
    margin: 0 28px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.6);
    min-height: 57%;
    display: flex;
    flex-direction: column;
}

.title_1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    text-align: left;
    border-bottom: 1px solid #fff;
}
.title_2 {
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.input {
    border-radius: 2px;
    height: 34px;
    border: none;
    padding-left: 10px;
    box-shadow: 0 3px 6px rgba(243, 225, 225, 0.5);

    /* Focus styles */
    &:focus {
        outline: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8);
    }
}

.button_submit {
    height: 50px;
    line-height: 50px;
    width: 40%;
    color: #fff;
    background-image: linear-gradient(to right, #aa076b, #61045f);
    display: flex;
    font-size: 1.4rem;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;

    &:hover {
        cursor: pointer;
        color: rgb(170, 148, 148);
        background-image: linear-gradient(to right, #b1297d, #640c63);
    }
}

.col_6 {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-message {
    color: transparent;
    margin: 4px 0 0 2px;
}
