body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}
.form {
  background-color: rgba(17, 16, 16, 0.5);
  // justify-content: center;
  // align-items: center;
  // display: flex;
  width: 40%;
  height: 50%;
  color: #fff;
}
.info {
  display: flex;
  flex-wrap: wrap;
}
.show_flight {
  background-color: red;
  border-radius: 20px;
  color: #fff;
  border: none;
  margin-left: 20px;
}
.move {
  justify-content: flex-start;
  width: 20%;
}