.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 1200px;
}

.border-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.border-solgan {
    width: 50%;
    height: 1px;
    background-color: #ccc;
}

.solgan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.solgan-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.solgan-title {
    margin-top: 12px;
}

.sale-ticket {
}

.sale-title {
    display: block;
    text-align: center;
    margin-top: 25px;
}

.sale-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.sale-location {
    text-transform: uppercase;
    font-weight: 600;
    margin-left: 8px;
}

.sale-time {
    margin-left: 8px;
}

.sale-price {
    font-size: 22px;
    text-align: end;
    color: #4489cd;
    margin-right: 8px;
}

.sale-content {
    display: flex;
    flex-direction: column;
    background-color: #eef1f6;
    width: 25%;
    margin: 0 8px;
}

.sale-btn {
    outline: none;
    margin-top: 10px;
    background-color: #ffa801;
    border: none;
    color: #fff;
    height: 36px;

    &:hover {
        background-color: #ff7801;
    }
}

.arrow-icon {
    padding-right: 4px;
}

.payment {
    text-align: center;
    margin-top: 40px;
}

.payment-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.payment-item {
    span {
        margin-left: 16px;
    }
}

.feedback {
    text-align: center;
    margin-top: 40px;
}

.feedback-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 10px;
    margin-top: 20px;

    .ml-106 {
        margin-left: 106px;
    }

    .mr-106 {
        margin-right: 106px;
    }
}

.feedback-user {
    width: 20%;
}

.feedback-img {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    border: 2px solid #4469b0;
    padding: 2px;
}

.feedback-gmail {
    font-size: 12px;
}

.feedback-title {
    display: inline-block;
    width: 80%;
    text-align: justify;
    padding: 0 10px;
}
