.contain_0 {
  //   height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.depart {
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;

  & + .depart {
    margin-bottom: 50px;
  }
}
.title_0 {
  width: 100%;
  text-align: left;
}
.wrapper_0 {
  height: 254px;
  width: 290px;
  position: relative;
}

.body_0 {
  height: 500px;
  width: 290px;
  border: 7px solid #000;
  display: flex;
  flex-direction: column;
  margin-top: -7px;
}
.info_0 {
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
  font-size: 1.6rem;
}
.type_0 {
  font-size: 1.2rem;
  margin-top: 10px;
}
.booked {
  background: rgb(93, 190, 93);
  height: 32px;
  width: 32px;
  padding: 0;
}
.no_booked {
  background: rgb(236, 61, 61);
  height: 32px;
  width: 32px;
  padding: 0;
}
.button_seat {
  width: 50%;
  display: flex;
  height: 32px;
  justify-content: space-evenly;
}
.row_0 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button + button {
  margin-left: 2px;
}

.disable {
  background-color: transparent;
  position: relative;
  cursor: not-allowed !important;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 141%;
    height: 2px;
    background-color: rgb(155, 112, 112);
    transform-origin: center;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
