.contain {
    // background-color: rgb(233, 127, 127, 0.6);
    //background: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.ml-10 {
    margin-left: 10px;
    font-size: 14px;
}

.title {
    text-align: center;
    width: 100%;
    font-size: 2.6rem;
    font-weight: 700;
    font-family: fangsong;
}
.image {
    height: 60px;
    width: 60px;
    padding-left: 20px;
}

.container {
    border-radius: 5px;
    width: 98%;

    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    margin-bottom: 12px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}

.info_flight {
    text-align: center;
}

.wrapper_info {
    border-radius: 5px;
    border: solid 1px rgb(27, 23, 23);
    width: 80%;
    // margin: auto;
    position: relative;
}

.add {
    width: 96%;
    margin-left: 40px;
}
.total_new {
    border-radius: 5px;
    // position: absolute;
    // top: 50%;
    // right: 100px;
    border: solid 1px rgb(27, 23, 23);
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
    height: 40%;
    font-size: 1.2rem;
    font-weight: 700;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper_add {
    // width: 97%;
    display: flex;
}
// .flight_info {
//     width: 80%;
// }
.contain_total {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.roundtrip {
    width: 98%;
    margin: auto;
    padding-bottom: 30px;
    min-height: 600px;
    display: block;
}
.wrapper_info {
    width: 100%;
    border: none;
    box-shadow: rgb(241 174 174 / 45%) 0px 5px 15px;
}

.info_flight_1 {
    position: absolute;
    // top: 50%;
    left: 50px;
    width: 222px;
    height: 50%;
    background-color: #d6c1c1;
    padding: 6px;
    margin-right: 12px;
}

.search-icon {
    padding-left: 10px;
}

.radio-content {
    display: block;
    padding-left: 6px;
}
.wrapper_5 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
.progress-bar {
    width: 95%;
    margin-left: 6px;
}
.show_data {
    width: 72%;
    margin-left: 125px;
}
.search_request {
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 100%;
    background-color: #d6c1c1;
    padding: 6px;
    margin: 0 12px;
}
.search_title {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}
