.contain {
  // background-color: rgb(233, 127, 127, 0.6);
  //background: transparent;
  height: 100%;
  width: 100%;
}
.title {
  text-align: center;
  width: 100%;
  font-size: 2.6rem;
  font-weight: 700;
  font-family: fangsong;
}
.image {
  height: 60px;
  width: 60px;
}

.container {
  border-radius: 5px;
  // width: 90%;
  width: 70%;

  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;
  margin-bottom: 12px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}
.info_flight {
  text-align: center;
}

.wrapper_info {
  border-radius: 5px;
  border: solid 1px rgb(27, 23, 23);
  width: 80%;
  margin: auto;
  position: relative;
}

.add {
  width: 96%;
  margin-left: 40px;
}
.total_new {
  border-radius: 5px;
  // position: absolute;
  // top: 50%;
  // right: 100px;
  border: solid 1px rgb(27, 23, 23);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  height: 40%;
  font-size: 1.2rem;
  font-weight: 700;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper_add {
  // width: 97%;
  display: flex;
}
.flight_info {
  width: 80%;
}
.contain_total {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
